@page "/Bar"

<h1>Bar</h1>

<Chart Configuration="@_config"></Chart>

@code{
    private ChartConfiguration _config;

    protected override Task OnInitializedAsync()
    {
        this._config = new ChartConfiguration
        {
            Type = ChartType.Bar,
            Data = new ChartData
            {
                Labels = new[] { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" },
                Datasets = new []{
                    new BarDataset {
                        Label = "# of Votes",
                        BarPercentage = 0.5,
                        BarThickness = 30,
                        MaxBarThickness = 35,
                        MinBarLength = 2,
                        Data= new double[]{12, 19, 3, 5, 2, 3},
                        BorderWidth= 1
                }}
            },
            Options = new { indexAxis = "y" }
        };
        return Task.CompletedTask;
    }
}
